**/*.class
**/*.bmp
**/*.png
**/*.pdf
.idea/*
**.idea/**
.idea
*.iml
**/*.iml
target/*
**/target/*
**.log
*.*~
**/*.*~
*.csv
**/*.csv
venv/
**/*/__pycache__
**/*/config.py
weights
*weights*
.RData
.Rhistory
**/*.pyc

